<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class>ContactUsServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/contactUsServlet</url-pattern>
</servlet-mapping>
